DJANGO_SECRET_KEY=replace-with-a-random-django-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.vercel.app
CSRF_TRUSTED_ORIGINS=https://*.vercel.app

POSTGRES_DB=postgres
POSTGRES_HOST=aws-1-ap-southeast-2.pooler.supabase.com
POSTGRES_PORT=6543
POSTGRES_USER=postgres.your_project_ref
POSTGRES_PASSWORD=replace-with-your-db-password
POSTGRES_SSLMODE=require

SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_ANON_KEY=replace-with-your-public-anon-or-publishable-key
SUPABASE_JWKS_URL=https://your-project-ref.supabase.co/auth/v1/.well-known/jwks.json
